@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.menuicon {
  height: 36px;
  width: 36px;
  position: relative;
  background: transparent;
  border: 0;
  padding: 0;
}

.menuicon__lines {
  height: 20px;
  width: 36px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.menuicon__lines__line {
  height: 2px;
  width: 36px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  background-color: #222;
}

.menuicon__lines::before,
.menuicon__lines::after {
  content: '';
  height: 2px;
  width: 36px;
  position: absolute;
  left: 0;
  margin: 0;
  background-color: #222;
}

.menuicon__lines::before {
  top: 0;
}

.menuicon__lines::after {
  bottom: 0;
}

html,
body {
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
}

#header {
  z-index: 10;
  -webkit-box-shadow: 0 0 4px #aaa;
          box-shadow: 0 0 4px #aaa;
}

#header .navbar-brand img {
  max-height: 64px;
}

#sidebar {
  z-index: 1;
  -webkit-box-shadow: 0 4px 4px #9b9b9b;
          box-shadow: 0 4px 4px #9b9b9b;
}

