// Fonts
@import "fonts";

// Variables
@import "variables";
@import "colors";
@import "menu_icon";
@import "anchors";

html,
body {
  overflow-x: hidden;
  font-family: $default-font;
}

#app {
  min-height: 100vh;
}

#header,
#sidebar {
}

#header {
  z-index: -10;
  box-shadow: 0 0 64px 0 #bbb;

  .navbar-brand {
    img {
      max-height: 64px;
    }
  }
}

#sidebar {
  z-index: 20;
  box-shadow: -64px 0 64px -64px #bbb;
}
